#game-world {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #1a472a;
}

#camera {
  position: absolute;
  width: 2560px;
  height: 2560px;
  left: 0;
  top: 0;
  transform-origin: top left;
}

#map-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 2560px;
  height: 2560px;

  background-image: url('../../../../../public/assets/map.spawn.png');
  background-repeat: no-repeat;
  background-size: 2560px 2560px;

  pointer-events: none;
  z-index: 1;
}

#projectile-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 2560px;
  height: 2560px;
  pointer-events: none;
  z-index: 20;
}